<a href="https://colab.research.google.com/github/melhartu/terraform_files_2024/blob/main/Taller_de_Programaci%C3%B3n_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Uso y estilo**

In [ ]:
# tiene un grupo de principios
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# es un lenguaje muy flexible
# en este curso lo usaremos a través de Jupyter (Google Colab)
# este código no es production-ready
# cuando se usa en un proyecto, con equipos y módulos, sigue una estructura


# imports arriba
import re
import time


# funciones al medio
def main():
  print("hola mundo")
  print("chau")


def cargar_datos():
  pass


# flujo de ejecución abajo
if __name__ == "__main__":
  main()

hola mundo
chau

In [ ]:
# es indentado
if 1 == 1:
  if 2 == 2:
    if 3 == 3:
      print("hola1")

if 1 == 1 and 2 == 2 and 3 == 3:
      print("hola2")

hola1
hola2

In [ ]:
# las indentaciones pueden ser con espacios o con tabulaciones
# pero deben ser consistentes
 if 1 == 1:
    if 2 == 2:
             if 3 == 3:
               print("error")

IndentationError: unexpected indent (<ipython-input-6-a3660871e843>, line 3)

In [ ]:
# pueden escribirse fragmentos en una sola línea
# usando : y ; correspondientemente
if 1 == 1: print("hola"); print("chau")

if 1 == 1:
  print("hola")
  print("chau")

hola
chau
hola
chau

In [ ]:
# puede incluso romperse una línea de código
if 1 == \
    1: print(10)

texto = "hola"
if texto == "akljflkasjflaskfj lakfjaslk" + \
 "fjsldkfjaslfkjsa lfkjas dlfkjaslfk jsflkjasdflkjsdflkjsdaf":
  print("chau")
else:
    print("hoy")

10
hoy

In [ ]:
# las variables se escriben en snake_case
cantidad = 50
precio_neto = 0.5
valor = cantidad * precio_neto
print(valor)

# no se usa por ejemplo
Cantidad = 50
precioNeto = 0.5


x = "hola_amigos_como_estan" # snake_case
x = "holaAmigosComoEstan" # camelCase
x = "hola-amigos-como-estan" # kebab-case

25.0
1

In [ ]:
# las constantes se escriben en mayúsculas
NOMBRE_PAIS = "Peru"

### Tipos de variable

In [ ]:
# números
n1 = 10       # int (entero)
n2 = 23.3     # float (real, punto flotante)
n3 = 10 + 1j  # complejos

# booleanos
b1 = True
b2 = False

# diccionarios
edad_sebastian = 20
m1 = {
    "nombre": "Sebastián",
    "edad": edad_sebastian,
    "habilitado": True,
    "dni": {
        "numero": "428352",
        "fecha_vencimiento": "1/1/1",
    }
}

# secuencias
s1 = "ABC"       # string (cadena)
s1 = 'ABC'
s2 = [1, 2, 3, True, {}, [1,2,3], 'A', 'B', 'C']   # lista
s3 = (4, 5, 6)   # tupla

# lista de diccionarios
s4 = [ { "x": 1, "y": 2 }, { "x": 3, "y": 4 } ]

# conjuntos
c1 = set([1, 2, 3])        # conjunto dinámico
c2 = frozenset([1, 2, 3])  # conjunto fijo

# tipo vacío
x = None

In [ ]:
# las secuencias pueden mezclar tipos (menos en cadenas, que es una concatenación)
s1 = [ 10, "hola"]
s2 = ( True, 4.0 )
print(s1)
print(s2)

[10, 'hola']
(True, 4.0)

In [ ]:
x = "hola" + str(True)
print(x)

holaTrue

### Operaciones

In [ ]:
# concatenación en listas
l = [1, 2, 3] + [99, "hola"]
print(l)

[1, 2, 3, 99, 'hola']

In [ ]:
# concatenación en tuplas
l = (1, 2) + (3, "chau")
print(l)

(1, 2, 3, 'chau')

In [ ]:
# concatenación en cadenas
s = "ABC" + 'DEF'
print(s)

ABCDEF

In [ ]:
# concatenación en cadenas con números (no se puede)
s = "ABC" + 123
print(s)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# concatenación en cadenas con números (a través del casting)
s = "ABC" + str(123)
print(s)

ABC123

In [ ]:
# casting de int a float
n = float(10)
print(n)

10.0

In [ ]:
# casting de float a int (floor)
n = int(3.145646)
print(n)

# castear a int no es redondear!
n = int(99.99999)
print(n)

n = int(round(99.999, 0))
print(n)

3
99
100

In [ ]:
# operaciones unarias
n1 = 5
n1 = -n1  # negación
n1 = -n1  # negación
print(n1)

5

In [ ]:
# operaciones binarias
n1 = 1
n2 = 4
print(n1 + n2)  # suma
print(n1 - n2)  # resta
print(n1 * n2)  # multiplicación
print(n1 / n2)  # división
print(n1 ** n2) # potencia

5
-3
4
0.25
1

In [ ]:
# división entera
print(100 // 3)

# residuo
print(12 % 4)
print(12 % 5)

33
0
2

In [ ]:
x = 10
if x % 2 == 0:
  print("par")
else:
  print("impar")

par

In [ ]:
# podemos operar y asignar
x = 1
print(x)
x += 3
print(x)
x -= 1
print(x)
x *= 10
print(x)

1
4
3
30

In [ ]:
counter = 0
counter += 1

-2

In [ ]:
# se pueden asignar varias variables en una línea
nombre, apellido, edad = "jose", "naranjo", 31
print(edad)
print(nombre)

31
jose

### Manejo de memoria

In [ ]:
x = 100
y = 100
print(x == y)

True

In [ ]:
# en qué parte de memoria está x?
id(x)

139949542821200

In [ ]:
# en qué parte de memoria está y?
id(y)

139949542821200

In [ ]:
# podemos preguntar si apuntan al mismo lugar de memoria
print(x is y)

True

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 == l2)
print(l1[0] == l2[0])

True
True

In [ ]:
print(l1 is l2) # False
print(l1[0] is l2[0])

False
True

In [ ]:
# las listas también están en memoria
# los valores que contienen son los mismos
# pero las listas no
print(id(l1))
print(id(l2))

139948261382400
139948259938880

In [ ]:
# se puede autoincrementar un valor de una variable
x = 1
y = x # y = 1
y += 1
print(x, y)

1 2

In [ ]:
l1 = [1, 2, 3]
l2 = l1 # [1,2,3]
l2.append(4)
print("l1", l1)  # se modificó l1
print("l2", l2)

l1 [1, 2, 3, 4]
l2 [1, 2, 3, 4]

In [ ]:
l1 = [1, 2, 3]
l2 = l1.copy()  # si se copia, entonces no se está apuntando al mismo lugar en memoria
l2.append(4)
print("l1", l1)  # no se modificó l1
print("l2", l2)

l1 [1, 2, 3]
l2 [1, 2, 3, 4]

In [ ]:
# se pueden borrar elementos de memoria
del l1, l2
print(l1)  # ya no existe

NameError: name 'l1' is not defined

### Manejo de errores

In [ ]:
# se pueden gestionar los errores previsibles
a = 3
b = 0

try:
    x = a / b
except:
    print("error")

error

In [ ]:
# se puede hacer de manera muy explícita por error
try:
    x = a / b
except ZeroDivisionError:
    print("división entre cero no permitida")
except:
    print("error desconocido")

división entre cero no permitida

In [ ]:
# algo muy pythonic es probar primero y gestionar luego

edad = 20

# en vez de probar primero,
if edad > 0:
    x = edad + 1
    x /= edad
    x += 100
    print(x)
else:
    print("error, edad es menor o igual a 0")

# se suele intentar primero,
try:
    x = edad + 1
    x /= edad
    x += 100
    print(x)
except ZeroDivisionError:
    print("error, edad inválida")

### Cadenas (strings)

In [ ]:
# las cadenas son secuencias de caracteres
# como tales tienen longitud
s = "jose"
len(s)

4

In [ ]:
# se pueden reemplazar substrings
s = "tinojo"
s = s.replace("o", "a")
print(s)

tinaja

In [ ]:
# buscar la posición de inicio un substring
s = "abcdef"
indice_c = s.find("c")
print(indice_c)  # listas empiezan en 0

2

In [ ]:
# partir strings según un separador
s = "jose,naranjo"
s = s.split(",")
print(s)

['jose;n', 'r', 'njo']

In [ ]:
# se pueden replicar strings
s = "x"
print(s * 10)

xxxxxxxxxx

In [ ]:
# los strings pueden hacer referencia a variables
edad = 38
print(f"Tengo {edad - 8} años")

# pueden hacer operaciones
balance = 5425.9292
print(f"Balance: ${balance:.2f}")

# o a valores de un diccionario
x = {
    "color": "rojo",
    "altura": 10
}
y = "Soy de color {color} y altura {altura}".format(**x)
print(y)

Tengo 30 años
Balance: $5425.93
Soy de color rojo y altura 10

### Expresiones regulares

In [ ]:
# las expresiones regulares (regex) son patrones que se pueden
# ejecutar sobre cadenas para encontrar grupos
# se usan con la biblioteca core "re"

import re

In [ ]:
# por ejemplo, para validar correos
formato_correo = "\S+@\S+\.\S+"
correo_jose = "naranjja@gmail.com"

if re.match(formato_correo, correo_jose):
    print("correo válido")
else:
  print("correo invalido")

correo invalido

In [ ]:
# validar números
formato_telf = "\\+?[1-9][0-9]{7,14}"
telf_jose = "+51981315163"

if re.match(formato_telf, telf_jose):
    print("teléfono válido")

teléfono válido

In [ ]:
# o extraerlos
msg = "hola, mi correo es naranjja@gmail.com y mi teléfono el +51981315163"
correos = re.findall(formato_correo, msg)
telfs = re.findall(formato_telf, msg)

print(correos)
print(telfs)

['naranjja@gmail.com']
['+51981315163']

### Listas

In [ ]:
# las listas son una estructura de datos que asocian valores con posiciones
# se pueden instanciar de 2 maneras
l1 = [1, 2, 3]
l2 = list((1, 2, 3))  # usando su constructor

nombres = list()
nombres.append("jose")
print(nombres)

['jose']

In [ ]:
# tienen longitud
len(l1)

3

In [ ]:
# se pueden agregar elementos al final de la lista
l1 = [1,2,3]
l1.append(4)
l1

[1, 2, 3, 4]

In [ ]:
# son mutables en su sitio
# es decir, no es necesario volver a asignar el nuevo valor a la variable

# no se usa
l = []
l = l.append(1)
print(l)

# sino
l = []
l.append(1)
print(l)

None
[1]

In [ ]:
# se pueden agregar en un índice específico
l1.insert(2, 2.5)
l1

[1, 2, 2.5, 3, 4]

In [ ]:
# se pueden remover elementos según valor
l1.remove(2.5)
l1

[1, 2, 3, 4]

In [ ]:
# se pueden remover elementos según índice
l1.pop(0)
l1

[2, 3, 4]

In [ ]:
# se pueden seleccionar elementos según índice
print(l1[2])

# e incluso cambiar su valor
l1[2] = 100
print(l1)

4
[2, 3, 100]

In [ ]:
# se pueden seleccionar con operadores también
print(l1[:])   # todo
print(l1[:1])  # hasta el 1, excluyente
print(l1[1:])  # desde el 1, incluyente
print(l1[1:2]) # desde el 1 (incluyente) hasta el 2 (excluyente)

[2, 3, 100]
[2]
[3, 100]
[3]

In [ ]:
l1 = [1,1,1,1,4,5,6,9,90,5]
l1

[1, 1, 1, 1, 4, 5, 6, 9, 90, 5]

In [ ]:
# se pueden ordenar
l1.sort(reverse=True)
print(l1)
l1.sort()
print(l1)

[90, 9, 6, 5, 5, 4, 1, 1, 1, 1]
[1, 1, 1, 1, 4, 5, 5, 6, 9, 90]

In [ ]:
x = [3,4,6,1,2,3,4,5,6,1]
x2 = x.copy()
x2.sort()
print("x", x)
print("x2", x2)

x [3, 4, 6, 1, 2, 3, 4, 5, 6, 1]
x2 [1, 1, 2, 3, 3, 4, 4, 5, 6, 6]

In [ ]:
l1 = [1,2,3,4,4]
print(l1)

l1 = set(l1)
print(l1)

l1 = list(l1)
print(l1)

l1 = list(set(l1))
print(l1)

[1, 2, 3, 4, 4]
{1, 2, 3, 4}
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# se pueden copiar (como vimos antes)
l2 = l1.copy()

# esto permite crear una lista nueva y no mutar la original
l2.append(99)

print("l1", l1)
print("l2", l2)

l1 [1, 1, 1, 1, 4, 5, 5, 6, 9, 90]
l2 [1, 1, 1, 1, 4, 5, 5, 6, 9, 90, 99]

### Tuplas

In [ ]:
# son iguales a las listas pero inmutables
# más eficientes cuando no se necesitan cambiar valores
# se pueden crear de 2 maneras

t1 = (1, 2, 3)
t2 = tuple((1, 2, 3))  # usando su constructor

# si se crea una tupla de 1 valor se debe usar una coma final
t3 = (101,)
t3

(101,)

In [ ]:
# también se pueden castear desde listas
l = [1, 2, 3]
t = tuple(l)
print(t)

# y a su vez castear hacia listas
l = list(t)
print(l)

(1, 2, 3)
[1, 2, 3]

In [ ]:
# tienen longitud
len(t1)

3

In [ ]:
# son inmutables
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

### Conjuntos (sets)

In [ ]:
# los conjuntos son colecciones de valores únicos
# se pueden crear de 2 maneras
s1 = {1, 2, 3}
s2 = set((1, 2, 3))  # usando su constructor

In [ ]:
# también se pueden castear desde listas para tener valores únicos
l = [1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 7]
s = set(l)
print(s)

# y se pueden volver a castear a listas
l = list(s)
print(l)

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# tienen longitud
len(s1)

2

In [ ]:
# se pueden agregar valores
s.add(10)
s

{1, 2, 3, 4, 5, 6, 7, 10}

In [ ]:
# eliminar valores
s.remove(5)
s

{1, 2, 3, 4, 6, 7, 10}

In [ ]:
# al igual que listas, guardan referencias de sus valores
# entonces deben copiarse para evitar mutar el valor original
s2 = s1.copy()
s2

[10, 'hola']

In [ ]:
# también se pueden limpiar
s2.clear()
s2

[]

In [ ]:
# lo más útil es usarlos para operaciones de conjuntos
s1 = {"manzanas", "peras", "naranjas", "tomates"}
s2 = {"tomates", "zanahorias", "lechuga", "palta"}

print(s1.union(s2))
print(s1.intersection(s2))

print(s1.difference(s2))
print(s2.difference(s1))

{'manzanas', 'tomates', 'naranjas', 'palta', 'lechuga', 'zanahorias', 'peras'}
{'tomates'}
{'naranjas', 'manzanas', 'peras'}
{'palta', 'lechuga', 'zanahorias'}

In [ ]:
# también se pueden hacer consultas

s1 = {1, 2, 3}
s2 = {2}

print(s2.issubset(s1))
print(s1.issubset(s2))

True
False

### Diccionarios

In [ ]:
# son una estructura de datos que relaciona llaves con valores
# se pueden crear de 2 maneras
d1 = {
    "x": 1,
    "y": 2
  }
d2 = dict(x=1, y=2)  # usando su constructor

In [ ]:
# muchas veces provienen de un zip de listas
l1 = ["nombre", "edad", "curso"]
l2 = ["juan", 20, "primero"]
d = dict(zip(l1, l2))
d

{'nombre': 'juan', 'edad': 20, 'curso': 'primero'}

In [ ]:
# se pueden consultar sus valores según sus llaves
d.get("nombre")

# equivalente a
d["nombre"]
d["edad"]

20

In [ ]:
# se pueden consultar sus llaves
d.keys()

dict_keys(['nombre', 'edad'])

In [ ]:
# los diccionarios guardan las llaves y valores en tuplas distintas
# se pueden consultar las tuplas detrás del diccionario
d.items()

dict_items([('nombre', 'juan'), ('edad', 20)])

In [ ]:
# tiene longitud (cantidad de pares llave-valor)
len(d)

2

In [ ]:
# se pueden eliminar valores según llave
d.pop("nombre")
d

{'edad': 20}

In [ ]:
# se pueden limpiar
d.clear()
d

{}

In [ ]:
# al igual que listas, guardan referencias de sus valores
# entonces deben copiarse para evitar mutar el valor original
d2 = d1.copy()
d2

In [ ]:
# muchas veces se usan listas de diccionarios
personas = [
    { "nombre": "jose", "apellido": "naranjo", "edad": 31 },
    { "nombre": "camila", "apellido": "morales-bermúdez", "edad": 27 },
]

# y estas son las que se procesan, por ejemplo para hallar la edad promedio
edad_acumulada = 0
for persona in personas:
    edad_acumulada += persona["edad"]
print(edad_acumulada)
print(edad_acumulada / len(personas))

### Funciones

In [ ]:
# las funciones solo ejecutan cuando se invocan
# se definen así

def nombre_de_funcion(parametros):
    # operaciones
    return 1  # condición de salida

# lo usual es que una función retorne algo
def suma(num1, num2):
    return num1 + num2

# pero también puede simplemente pasar
def logger():
    print("hola")

In [ ]:
# python no lo exige, pero también puede tener tipado explícito en sus parámetros
def suma(num1: int, num2: int):
    return num1 + num2

# o incluso en el retorno
def suma(num1, num2) -> int:
    return num1 + num2

In [ ]:
# puede tener parámetros default
def crear_boleta(nombre, monto, doc="dni"):
    return {
        "nombre": nombre,
        "monto": float(monto),
        "doc": doc,
    }

crear_boleta("jose", 100)
crear_boleta("camila", 23, "ruc")

{'nombre': 'camila', 'monto': 23.0, 'doc': 'ruc'}

In [ ]:
# puede retornar y asignar
y = suma(1, 2)
print(y)

3

In [ ]:
# puede ser anónima
y1 = (lambda a, b: a + b)(1, 2)

# así sería lo mismo pero versión nónima
def nombre_de_funcion(a, b):
    return a + b
y2 = nombre_de_funcion(1, 2)

print(y1)
print(y2)

In [ ]:
# también se puede volver una función lambda una normal
# si es que se le da un nombre
suma = lambda a, b: a + b
print(suma(1, 2))

### Condicionales

In [ ]:
# evaluan si una sentencia es verdadera y ejecuta código
if True:
    print(1000)
else:
    pass

1000

In [ ]:
# si es falso, entra al "else"
if False:
    pass
else:
    print(1000)

1000

In [ ]:
# si se quieren condiciones intermedias, existe el elif
monto = 3
if monto > 100:
    print("cuanta plata!")
elif monto > 50:
    print("buena plata")
elif monto > 10:
  print("poca plata")
else:
  print("muy poca plata")

muy poca plata

In [ ]:
# también existe el match case
# para verificar muchas condiciones (es un if-elif-else sofisticado)
nombre = "jose"

match nombre:
    case "juan":
      print(1)
    case "luis":
      print(2)
    case "jose":
      print(3)
    case "tian" | "maga": print(4)      # operador O
    case _: print("ingrese un nombre")  # default

3
hola

In [ ]:
# cualquier sentencia puede ser evaluada si es True o False
# usando operadores booleanos, de identidad, o pertenencia

# booleanos
print(1 == 1)
print(2 >= 3)
print("juan" != "miguel")
print(1 > 0 and 0 < 10)
print(1 > 0 or 0 < 10)

# identidad
x = 1
y = None
print(x is y)
print(y is None)

# pertenencia
x = "jose"
y = "jose antonio"
print(x in y)
y = ["jose", "carlos"]
print(x in y)

True
False
True
True
True
False
True
True
True

### Bucles (loops)

In [ ]:
# hay 2 tipos de loops en python: for y while
# con estos 2 tipos se pueden hacer todos los loops (eg. do)

# for:
# 1. define un número de iteraciones
# 2. define una colección
# 3. itera la colección
for x in [1, 2, 3]:
    print("for", x)

x = 1
x = 2
x = 3

# while:
# 1. define una condición
# 2. itera un bloque de código hasta que ya no se cumpla la condición
x = 0
while x < 5:
    print(x)
    x += 1

for 1
for 2
for 3
0
1
2
3
4

In [ ]:
# cuidado con un while True o while 1, estos nunca terminan a menos
# que la condición de salida salga desde adentro (break)
while True:
    print("cuidado")
    break

cuidado

In [ ]:
# a veces uno quieres saltarse una iteración
for x in [1, 2, 3]:
    if x == 2: continue
    print(x)

In [ ]:
# a veces uno quiere saber el índice de una colección
l = [1, 2, 3]
for i in range(len(l)):  # range crea una lista empezando desde 0, de longitud len(l)
    print(i, l[i])       # también podemos conocer el valor con l[i], aunque es difícil de leer

In [ ]:
# a veces uno quiere tanto el índice como el valor
l = [1, 2, 3]
for i, x in enumerate(l):
    print(i, x)

In [ ]:
# en programación funcional, hay otros tipos de loops
# los más usados el map y reduce

# map muta una lista y la retorna
l = [1, 2, 3]
l = list(map(lambda x: x + 1, l))  # le suma 1 a cada elemento
print(l)

# reduce agrega los valores de una lista y lo retorna
l = [1, 2, 3]
suma = reduce(lambda x, acc: acc + x, l, 0)  # acumula cada elemento en acc
print(suma)

### Bibliotecas

In [ ]:
# hay cerca de 300 bibliotecas estándar y cerca de 140k bibliotecas terceras
# las bibliotecas son módulos de python que dentro tienen clases, funciones, y otros módulos
# estas se pueden importar entre módulos para acceder a sus clases, funciones y módulos

# se puede importar la biblioteca entera
import datetime

# se puede importar la biblioteca entera con un alias
import datetime as dt

# se puede importar solo un módulo de una biblioteca
from datetime import timedelta

# se pueden importar todos los módulos de una biblioteca
from datetime import *  # no deberian hacerlo nunca

In [ ]:
import datetime

def timedelta():
  print("hola amigos")

timedelta()
datetime.timedelta()

hola amigos

datetime.timedelta(0)

In [ ]:
# cuál es la diferencia entre importar la biblioteca entera o todos sus módulos?
# como se usan los módulos

import datetime
print(datetime.date.today())  # el módulo datetime está expuesto al módulo actual

from datetime import *
print(date.today())           # el módulo date está expuesto al módulo actual

In [ ]:
# es recomendable importar la biblioteca entera para evitar colisión de nombres
# por ejemplo:

def date():
    print("quieres ir en un date?")

print(date.today())

### Clases

In [ ]:
# las clases son un elemento de la programación orientada a objetos
# es una manera de estructurar el código

# se define de esta manera:
class Koopa:
    pass

# las clases luego se instancian en objetos
koopa1 = Koopa()
koopa2 = Koopa()

In [ ]:
# las clases tienen atributos y métodos
# atributos son datos del objeto
# métodos son acciones que hace el objeto

# los atributos se definen en el constructor de la clase
# los métodos se definen como funciones dentro de la clase

class Koopa:

    # constructor
    def __init__(self, caparazon, nombre):
        self.caparazon = caparazon
        self.nombre = nombre

    # método
    def saludar(self):
      if self.caparazon:
        print(f"Hola me llamo {self.nombre} y tengo caparazón de color {self.caparazon}!")
      else:
        print(f"Hola me llamo {self.nombre} y no tengo caparazón!")

koopa1 = Koopa("verde", "Luis")
koopa1.saludar()

koopa2 = Koopa("rojo", "Carlos")
koopa2.saludar()

Hola me llamo Luis y tengo caparazón de color verde!
Hola me llamo Carlos y tengo caparazón de color rojo!

In [ ]:
# las clases pueden extenderse a otras

class Magikoopa(Koopa):

    def __init__(self, nombre):
        self.caparazon = None
        self.nombre = nombre

koopa3 = Magikoopa("Kamek")
koopa3.saludar()

Hola me llamo Kamek y no tengo caparazón!

### Streams

In [ ]:
# python puede recibir un stream de contenido
# y almacenarlo o procesarlo mientras está abierto

# abrir un stream
with open("./archivo_ejemplo.txt", "r") as f:

    # procesar el stream
    c = 0
    for line in f:
        print(line)
        c += 1
        if c > 50:
          break

    # cerrar el stream
    f.close()

In [ ]:
# si no se desea procesar el stream, sino solo almacenarlo
# entonces se puede hacer
f = open("./archivo_ejemplo.txt", "r")

# ojo que aquí se almacenó el stream
# si se quiere acceder al contenido:
for line in f:
    print(line)

# o si se quiere almacenar el contenido
contenido = f.readlines()

In [ ]:
# mientras el stream esté almacenado de manera abierta
# se puede procesar

# el modificador "w" es para "write" (sobreescribir el archivo)
f = open("./archivo_ejemplo.txt", "w")
f.write("hola")
f.close()

# el modificador "a" es para "append" (agregar al final del stream)
f = open("./archivo_ejemplo.txt", "a")
f.write(" que tal")
f.close()

# el modificador "r" es para "read" (leer el archivo)
f = open("./archivo_ejemplo.txt", "r")
print(f.readlines())
f.close()

### Parsing

In [ ]:
# siempre hay mejores maneras de leer un archivo
# por ejemplo, los CSVs se pueden leer como streams
f = open("./archivo_ejemplo.csv", "r")
data = f.readlines()
f.close()

print(data)

In [ ]:
# algunos archivos se pueden cargar directamente a tipos nativos de python
# por ejemplo jsons -> diccionarios o lista de diccionarios
import json

f = open("./archivo_ejemplo.json", "r")
d = json.load(f)

print(d)
print(d[0]["nombre"])

# también a veces es importante especificar el encoding
f = open("./archivo_ejemplo.json", "r", encoding="utf-8")
d = json.load(f)

print(d[1]["apellido"])

### Ejercicios

In [ ]:
# ejercicio 1
# escribe una función llamada: semanas_dias
# esta función tendrá 1 argumento: dias
# esta función retornará: cuántas semanas y días representan esos días
# por ejemplo: semanas_dias(10) => 1 semana y 3 días

In [ ]:
def semanas_dias(dias):
  semanas = dias // 7
  dias_restantes = dias % 7
  return f"{semanas} semana{'s' if semanas != 1 else ''} y {dias_restantes} día{'s' if dias_restantes != 1 else ''}"


print(semanas_dias(10))
print(semanas_dias(15))

1 semana y 3 días
2 semanas y 1 día

In [ ]:
# ejercicio 2
# escribe una función llamada: tope_mil
# esta función tendrá 2 argumentos: x1 y x2
# esta función retornará: el producto x1*x2 si es menor a 1000, o la suma x1+x2
# por ejemplo: tope_mil(2, 4) => 8
# por ejemplo: tope_mil(200, 10) => 210

In [ ]:
def tope_mil(x1, x2):
  prod = x1 * x2
  if prod > 1000: return x1 + x2
  else: return prod

tope_mil(2, 4)
tope_mil(200, 10)

210

In [ ]:
# ejercicio 3
# escribe una función llamada: letras_impares
# esta función tendrá 1 argumento: palabra
# esta función retornará: solo los caracteres de posición impar
# por ejemplo: letras_impares("hola") => "hl"
# por ejemplo: letras_impares("analytics") => "aayis"

In [ ]:
list(enumerate("hola"))

[(0, 'h'), (1, 'o'), (2, 'l'), (3, 'a')]

In [ ]:
def letras_impares(palabra):
  resultado = ""
  for i, caracter in enumerate(palabra):
    if (i + 1) % 2 != 0: resultado += caracter
  return resultado

print(letras_impares("hola"))
print(letras_impares("analytics"))

hl
aayis

In [ ]:
l1 = ['a','b','c']

for i in range(len(l1)):
  caracter = l1[i]
  print(i, caracter)

for i, caracter in enumerate(l1):
  print(i, caracter)

0 a
1 b
2 c
0 a
1 b
2 c

In [ ]:
d = {
    "nombre": "jose",
    "color": "rojo",
    "curso": {
        "titulo": "intro analitica",
        "duracion": 2,
        "alumnos": [
            {
                "nombre": "marco"
            }
        ],
        "tipo": {
            "x": {
                "y": {

                }
            }
        }
    }
}